*{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}
body{
    background-color: blue;
}

.header{
    position: fixed;
    top: 0px;
    min-height: 50px;
}

.header-nav{
    width: 90%;
    margin: auto;
    background-color: #ffffff;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.nav-img{
    flex-basis: 40%;
    max-width: 50%;
    /* margin-right: 10px; */
    padding-right: 20px;
}

.nav-img img{
    width: 65%;

}
.nav{
    flex-basis: 60%;
    /* padding-left: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    flex-basis: 75%;
    font-size: 22px;
    font-weight: 30px;
}

.nav-link ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;  
}

.nav-link ul li{
    text-align: center;
}

.header-container a{
    text-decoration: none;
}

.nav-link li{
    margin: 0;
}

.thumb-nav{
    flex-basis: 25%;
    max-width: 25%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 22px;
}

.thumb-nav img{
    max-width: 30%;
}

.thumb-nav a{
    /* max-width: 70%; */
}

.hero{
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    height: 100vh;
}

.hero-container{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.hero-left{
    flex-basis: 25%;
}

.hero-center{
    flex-basis: 50%;
    padding: 80px;
}

.first-text{
    text-align: center;
    color: red;
    font-size: 22px;
    font-family: Graphik;
}

.second-text{
    text-align: center;
    font-size: 55px;
    font-family: Graphik;
}

.enrol{
    background-color:red;
    border: none;
    width: 30%;
    margin: auto;
    text-align: center;
    font-size: 24px;
    border-radius: 30px;
    padding: 10px;
    color: #ffffff;
}

.hero-wire{
    max-width: 60px;
}
.hero-img{
    max-width: 60px;
}
.hero-right{
    flex-basis: 25%;
}

.train{
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    display: block;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about h2{
    flex-basis: 33%;
    text-align: left;
    font-size: 30px;
    font-weight: 500;
}

.about img{
    flex-basis: 33%;
    width: 50px;
}

.about p{
    text-align: right;
    font-size: 24px;
    flex-basis: 33%;
}

.why-us{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}

.blackstar{
    flex-basis: 40%;
}

.blackstar img{
    width: 60%;
    margin:auto;
    padding-left: 100px;
}

.zuri-why{
    flex-basis: 60%;
    padding-right: 20px;
}

.zuri-why p{
    color: red;
    font-size: 24px;
}

.zuri-why h2{
    font-size: 30px;
}