*{
    margin: 0;
    font-family: Averta, sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
}


.hero-container{
    height: 800px;
    background-image: url(../images/ZuriHomePage/hero-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.hero{
    display: block;
    max-width: 57%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.hero h2{
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    font-weight: 800;
    color: #514949;
    margin-bottom: 36px;
}


.hero p{
    font-size: 20px;
    line-height: 30px; 
    text-align: center;
    color: #514949;
    padding: 20px;
    margin: 40px;
}

span{
    color: #E7332B;
}

.hero-btn{
    display: inline-block;
}

button{
    font-size: 20px;
    padding: 20px 50px;
    margin: 20px;
    cursor: pointer;
}

.btn-1{
    background-color: #E7332B;
    color: white;
    border: none;
}

.btn-1:hover{
    background-color: white;
    color: #E7332B;
    border: 1px solid #E7332B;
}

.btn-2{
    border: 1px solid #E7332B;
    color: #E7332B;
}

.btn-2:hover{
    background-color: #E7332B;
    color: white;
    border: none;
}

.program{
    height: 100vh;
    overflow: hidden;
    margin: 40px;
}

.program h3{
    text-align: center;
    color: #E7332B;
    font-weight: lighter;
    margin: 30px;
}

.slogan{
    text-align: center;
    font-size: 30px;
    line-height: 1.6;
}

.program-box{
    padding: 40px;
    display: flex;
    flex-wrap: nowrap;
}

.box{
    height: 500px;
    margin: 20px;
    background-color: #FFFAFA;
    padding: 61px 47px 82px 36px;
}

.box p{
    margin-top: 40px;
    font-size: 24px;
    line-height: 24px;
    color: #514949;
    opacity: 0.9;
}

.box a{
    text-decoration: none;
}

.box a p{
    color: #E7332B;
    font-size: 20px;
}

.footer-bag{
    height: 80vh;
    width: 80%;
    display: block;
    margin: auto;
    align-items: center;
}

.footer{
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start  ;
    line-height: 2rem;
    padding-top: 200px;
    margin-bottom: 100px;
}

/* .ln-footer, .ct-footer, .sc-footer{
    padding: 20px;
    
} */

.footer h2{
    font-size: 24px;
    font-weight: normal;
}

.footer a{
    text-decoration: none;
    line-height: 1.5rem;

}

.ct-footer p{
    line-height: 1.5;
    font-size: 20px;
    font-weight: normal;
}
.ln-footer a > p, .ct-footer a >p{
    font-weight: normal;
    line-height: 3.5rem;
    color: #E7332B;
    font-size: 18px;
}

.sc-footer img{
    width: 18px;
    margin-top: 20px;
}


.copyright p{
    text-align: center;
    /* margin-top: 100px; */
    font-size: 24px;
}